<form action="" method="">
       <label for="dataTermino">Data de Término do Aluguel:</label>
       <input type="date" id="dataInicio" name="dataInicio">
       <label for="dataInicio">Data de Início do Aluguel:</label>
       <input type="date" id="dataTermino" name="dataTermino">
       <label for="usuarioResponsavel">Responsável</label>
       <input type="text" id="usuarioResponsavel" name="usuarioResponsavel">
       <label for="codigoReserva">Codigo Reserva</label>
       <input type="text" id="codigoReserva" name="codigoReserva">
       <label for="codigoAluguel">Contrato Aluguel</label>
       <input type="text" id="codigoAluguel" name="codigoAluguel">
       <label for="tarifaContrato">Tarifa Mensal</label>
       <input type="number" step="0.01" id="tarifaContrato" name="tarifaContrato">
       <label for="kmExcedente">Valor Km Excedente</label>
       <input type="number" step="0.01" id="kmExcedente" name="kmExcedente">
       <label for="distanciaDia">Franquia km/dia</label>
       <input type="number" id="distanciaDia" name="distanciaDia">
       <button type="submit">Cadastrar</button>    
   
</form>
